/target
.venv*/
__pycache__/
*.so
*.pyd
*.egg-info/
/dist
/out
.kinemo-cache/
.DS_Store
/out
uv.lock
/website/.cache
/website/build
/website/.svelte-kit
/website/node_modules
/website/static/media
/website/src/lib/generated
